<h1>CBSUA - Sipocot Accreditation Portal</h1>

<p>I hereby acknowledge that as an authorized accreditor accessing this website with my designated log-in credentials, CBSUA grants a revocable, non-transferrable, limited-time, read-only access to CBSUA’s accreditation related information for validation and processing.</p>

<p>As an accreditor accessing this website and subsequent online documents and links, I hereby agree to the following terms and conditions pursuant RA 10173 otherwise known as the “Data Privacy Act of 2012” and warrant the following:</p>

<li>That I shall maintain the confidentiality and secrecy of all data that come to my knowledge and possession, and will disclose said data only pursuant to a lawful purpose, and to authorized recipients of such data;</li>
<li>That I shall uphold the rights of data subjects (students, employees, and stakeholders in sampled information) and adhere to the general data privacy principles and the requirements of lawful processing;</li>
<li>That I, together with the accrediting organization, shall allow the processing of such personal information subject to compliance with the requirements of the Data Privacy Act and other laws allowing disclosure of information to the public and adherence to the principles of transparency, legitimate purpose, and proportionality.</li>
<li>That I, together with the accrediting organization, shall assume equal responsibility with CBSUA for any data that I will process during the accreditation in compliance with all applicable laws, enactments, regulations, orders, standards and other similar instruments;</li>
<li>That I, together with the accrediting organization, will take appropriate technical and organizational measures against the unauthorized or unlawful Processing of Data and against the accidental loss or destruction of, or damage to Data to ensure CBSUA’s compliance with the Data Privacy Act.</li>
<li>That I, together with the accrediting organization, shall notify CBSUA immediately if I become aware of any unauthorized or unlawful processing, loss of, damage to or destruction of the Data or any instance which would mean that the CBSUA should revise the security and technical measures in place in order to protect the Data of the subjects in the accreditation related documents.</li>

<input type="checkbox" required>
<label >I have read and agree with the Data Privacy and Confidentiality Terms and Conditions and warrant the confidentiality, secrecy, and protection of the data I will process.</label>

<a href="/login">Login</a>